[Unit]
Description=DLP3 Bioprinter RPi Node
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/dlp_project/rpi_node
ExecStart=/home/pi/dlp_project/rpi_node/venv/bin/python server.py
Restart=on-failure
RestartSec=5
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
