<?xml version="1.0" encoding="UTF-8"?>
<config>
 <object id="1" instances_count="1">
  <metadata type="object" key="name" value="test_part.stl"/>
  <volume firstid="0" lastid="99">
   <metadata type="volume" key="name" value="test_part.stl"/>
   <metadata type="volume" key="volume_type" value="ModelPart"/>
  </volume>
 </object>
</config>